{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_row -%}
    <div class="form-group">
        <div class="searchbar-wrapper">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}

{% block form_widget_simple -%}
    {% if type is not defined or 'file' != type %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control searchbar-input')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="location-error">
            {%- for error in errors -%}
                <span>{{ error.message }}</span><br/>
            {%- endfor -%}
        </div>
    {%- endif %}
{%- endblock form_errors %}
