{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_row -%}
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{%- endblock form_row %}

{% block checkbox_row -%}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{%- endblock checkbox_row %}

{% block checkbox_widget %}
    {% spaceless %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="error-container">
            {%- for error in errors -%}
                <span>{{ error.message }}</span><br/>
            {%- endfor -%}
        </div>
    {%- endif %}
{%- endblock form_errors %}
