{% if (offers|length > 0) %}
    <div class="row">
        {% for offer in offers.getItems() %}
            <div class="col-xs-12 col-sm-6 col-md-6 offer" data-id="{{ offer.getId }}">
                <div class="offer-inner">
                    <a target="_blank" href="{{ path('app.offerDetails', {'id': offer.getId}) }}">
                        {% include '@App/Home/includes/offerImage.html.twig' with {'offer': offer} %}
                    </a>
                    <div class="offer-content">
                        <h2>
                            <a target="_blank" href="{{ path('app.offerDetails', {'id': offer.getId}) }}">
                                {{ offer.getName }}
                            </a>
                        </h2>
                        <h5>{{ offer.getDescription|slice(0, 75) }}...</h5>
                        <span class="offer-rating">5.0</span>
                        <a href="{{ path('app.search', {
                            'address': ((offers.getParams.address is defined) ? offers.getParams.address : none),
                            'male': ((offers.getParams.male is defined) ? offers.getParams.male : none),
                            'female': ((offers.getParams.female is defined) ? offers.getParams.female : none),
                            'latitude': ((offers.getParams.latitude is defined) ? offers.getParams.latitude : none),
                            'longitude': ((offers.getParams.longitude is defined) ? offers.getParams.longitude : none),
                            'distance': ((offers.getParams.distance is defined) ? offers.getParams.distance : none),
                            'activity': offer.getActivity.getId,
                            'age': ((offers.getParams.age is defined) ? offers.getParams.age : none),
                            'priceFrom': ((offers.getParams.priceFrom is defined) ? offers.getParams.priceFrom : none),
                            'priceTo': ((offers.getParams.priceTo is defined) ? offers.getParams.priceTo : none),
                            }) }}">
                            <span class="offer-activity">{{ offer.getActivity.getName }}</span>
                        </a>
                        <svg class="offer-location" width="14px" height="20px">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none">
                                <path d="M7,0 C3.13383665,0 0,3.0828692 0,6.88540084 C0,10.68827 6.33390528,20 7,20 C7.66609472,20 14,10.68827 14,6.88540084 C14,3.0828692 10.8661633,0 7,0 L7,0 Z M7,9.87341772 C5.2947838,9.87341772 3.91146191,8.51274262 3.91146191,6.83544304 C3.91146191,5.15814346 5.2947838,3.79746835 7,3.79746835 C8.7052162,3.79746835 10.0885381,5.15814346 10.0885381,6.83544304 C10.0885381,8.51274262 8.7052162,9.87341772 7,9.87341772 L7,9.87341772 Z" id="Imported-Layers-Copy-5" fill="currentColor"></path>
                            </g>
                        </svg>
                        <span class="offer-price">
                            <span class="amount">{{ offer.getPrice }} €</span><span class="type">{% if offer.paymentType == "0" %}Vienkartinis{% elseif offer.paymentType == "1" %}Kas savaitę{% else %}Kas mėnesį{% endif %}</span>
                        </span>
                    </div>
                </div>
            </div>
            {% if loop.index is divisibleby(2) %}
                <div class="clearfix hidden-sm hidden-xs"></div>
            {% endif %}
            {% if loop.index is divisibleby(2) %}
                <div class="clearfix hidden-lg hidden-md"></div>
            {% endif %}
        {% endfor %}
        <div class="clearfix"></div>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(offers) }}
    </div>
{% else %}
    <div class="not-found">Būrelių nerasta</div>
    <script>
        window.document.onload = function(e){
            map.setCenter({lat: 54.8931048, lng: 23.8666335});
        }
    </script>
{% endif %}
{% if ajax is defined %}
    <script>
        var offers = {{ offers_json|raw }};
        var offers_found = {{ offers_found }};
    </script>
{% endif %}