{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        {% include '@App/Home/includes/flashBag.html.twig' %}
        <div class="row">
            <div class="col-sm-4">
                {% include '@App/Home/includes/accountLeftMenu.html.twig' %}
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Sporto šakos keitimas
                    </div>
                    <div class="content-form logged-in no-shadow">
                        {% form_theme form '    @App/form/OfferRegistrationFields.html.twig' %}
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.defaultImage) }}
                        <div>
                            <input type="submit" value="Keisti sporto šaką" class="submit"/>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#activity_defaultImage').fileinput({
            language: 'lt',
            showUpload: false,
            previewSettings: {
                image: {
                    width: 'auto',
                    height: '100px'
                }
            },
            allowedFileTypes: ['image']
        });
    </script>
{% endblock %}