{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        {% include '@App/Home/includes/flashBag.html.twig' %}
        <div class="row">
            <div class="col-sm-4">
                {% include '@App/Home/includes/accountLeftMenu.html.twig' %}
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Sporto šakos
                    </div>
                    <ul class="list-group">
                        {% if activities|length == 0 %}
                            <li class="list-group-item">
                                Sporto šakų nėra
                            </li>
                        {% else %}
                            {% for activity in activities  %}
                                <li class="list-group-item">
                                    {{ activity.name }}
                                    <a class="badge" href="{{ path('app.activityEdit', {'id': activity.id}) }}">Keisti</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <div class="navigation">
                        {{ knp_pagination_render(activities) }}
                    </div>
                    <hr class="no-margin"/>
                    <div class="content-form logged-in no-shadow">
                        <h3>
                            Sporto šakos sukūrimas
                        </h3>
                        {% form_theme form '@App/form/OfferRegistrationFields.html.twig' %}
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            {{ form_row(form.name) }}
                            <div class="form-group {%  if form.defaultImage.vars.errors|length %}has-error{% endif %}">
                                <label class="control-label required">
                                    Numatytoji nuotrauka
                                </label>
                                {{ form_widget(form.defaultImage) }}
                                {{ form_errors(form.defaultImage) }}
                            </div>
                            <div>
                                <input type="submit" value="Pridėti sporto šaką" class="submit"/>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#activity_defaultImage').fileinput({
            language: 'lt',
            showUpload: false,
            previewSettings: {
                image: {
                    width: 'auto',
                    height: '100px'
                }
            },
            allowedFileTypes: ['image']
        });
    </script>
{% endblock %}