{% extends "::base.html.twig" %}

{% block body %}
    <div class="background-image">
        <div class="va-middle header-text">
            <h1 class="title">
                Įkelkite savo būrelį
            </h1>
        </div>
    </div>
    <div class="container content-form logged-in offer-registration">
        {% include '@App/Home/includes/flashBag.html.twig' %}
        {% form_theme form 'AppBundle:form:OfferRegistrationFields.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'registration-form'}}) }}
        {{ form_row(form.name) }}
        <div class="form-group relative {%  if form.description.vars.errors|length %}has-error{% endif %}">
            <label class="control-label required">
                Papildoma informacija
            </label>
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
            <div class="popover-static"> <!-- NEW -->
                <div class="popover left">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        Įveskite papildomos informacijos, kuri bus aktuali vaikų tėvams
                    </div>
                </div>
            </div>
        </div>
        {{ form_row(form.description, {'attr': {'class': 'desciption'}}) }}
        {{ form_row(form.contactInfo, {'attr': {'class': 'description'}}) }}
        <div class="form-group {%  if form.price.vars.errors|length %}has-error{% endif %}">
            <label class="control-label required">
                Kaina
            </label>
            <div class="input-group">
                {{ form_widget(form.price, {'attr': {'min': '0'}}) }}
                <div class="input-group-addon euro-sign">
                    &#8364;
                </div>
                <div class="input-group-btn">
                    {{ form_widget(form.paymentType, {'attr': {'class': 'btn payment-type'}}) }}
                </div>
            </div>
            {{ form_errors(form.price) }}
        </div>
        <div class="form-group {% if errors.gender %}has-error{% endif %}">
            <label class="control-label required">
                Lytis
            </label>
            {{ form_row(form.male, {'attr': {'class': 'checkbox'}}) }}
            {{ form_row(form.female, {'attr': {'class': 'checkbox'}}) }}
            {% if errors.gender %}
                <div class="help-block">
                    <ul class="list-unstyled">
                        <li>
                            <span class="glyphicon glyphicon-exclamation-sign"></span> {{ errors.gender }}
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group {% if errors.ages or not form.ageFrom.vars.valid or not form.ageTo.vars.valid %}has-error{% endif %}">
            <label class="control-label required">
                Amžius: nuo - iki
            </label>
            <br/>
            {{ form_widget(form.ageFrom, {'attr': {'min': '0', 'class': 'age-input'}}) }}
            {{ form_widget(form.ageTo, {'attr': {'min': '0', 'class': 'age-input'}}) }}
            {{ form_errors(form.ageFrom) }}
            {{ form_errors(form.ageTo) }}
            {% if errors.ages %}
                <div class="help-block">
                    <ul class="list-unstyled">
                        <li>
                            <span class="glyphicon glyphicon-exclamation-sign"></span> {{ errors.ages }}
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        {{ form_row(form.address, {'attr': {'placeholder': ''}}) }}
        <div class="form-group relative {%  if form.mainImage.vars.errors|length %}has-error{% endif %}">
            <label class="control-label required">
                Pagrindinė nuotrauka
            </label>
            {{ form_widget(form.mainImage) }}
            {{ form_errors(form.mainImage) }}
            <div class="popover-static"> <!-- NEW -->
                <div class="popover left">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        Pagrindinė nuotrauką bus matoma pagrindiniame puslapyje, vartotojams ieškant būrelių
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group relative {%  if form.images.vars.errors|length %}has-error{% endif %}">
            <label class="control-label required">
                Pagrindinė nuotrauka
            </label>
            {{ form_widget(form.images) }}
            {{ form_errors(form.images) }}
            <div class="popover-static"> <!-- NEW -->
                <div class="popover right">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        Papildomas nuotraukas vartotojai pamatys, paspaudę ant jūsų būrelio skelbimo
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group {% if form.activity.vars.errors|length %}has-error{% endif %}">
            <label class="control-label required">
                Sporto šaka
            </label>
            {{ form_widget(form.activity, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.activity) }}
        </div>
        {{ form_row(form.latitude, {'attr': {'class': 'hidden'}}) }}
        {{ form_row(form.longitude, {'attr': {'class': 'hidden'}}) }}
        <button type="submit" class="btn btn-default submit">Įkelti</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // Address input element
        var input = (document.getElementById('offer_address'));
        var latitude = $('#offer_latitude');
        var longitude = $('#offer_longitude');
        var form = $('.registration-form');

        $('#offer_images').fileinput({
            language: 'lt',
            showUpload: false,
            previewSettings: {
                image: {
                    width: 'auto',
                    height: '100px'
                }
            },
            allowedFileTypes: ['image']
        });
        $('#offer_mainImage').fileinput({
            language: 'lt',
            showUpload: false,
            previewSettings: {
                image: {
                    width: 'auto',
                    height: '100px'
                }
            },
            allowedFileTypes: ['image']
        });
    </script>
    <script defer="defer" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDD-Qz3vsjQhtb903ppoMa79EI4Xc-AP8&libraries=places&callback=initAutocomplete"></script>
{% endblock %}