{% extends "::base.html.twig" %}

{% block container %}
    {% include ':inc:header.html.twig' %}
    <div class="search-image"></div>
    <div class="container search-container">
        <div class="va-middle text-center">
            <h1 class="header-text">
                Būrelių paieška
            </h1>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    {% form_theme form '@App/form/IndexSearchFields.html.twig' %}
                    {{ form_start(form,  {'attr': {'action': path('app.search'),'novalidate': 'novalidate', 'class': 'form-horizontal index-form'}}) }}
                    <div class="form-group gutter-remove bar-container">
                        <div class="top-container">
                            <div class="col-sm-5">
                                <div class="locate-me">
                                    <span class="glyphicon glyphicon-globe" id="locate-me"></span>
                                </div>
                                {{  form_row(form.address, {'attr': {'class': 'place-input', 'placeholder': 'Gyvenamoji vieta'}}) }}
                            </div>
                            <div class="col-sm-3">
                                {{
                                    form_row(form.age, {
                                            'attr': {
                                                'min': 0,
                                                'data-toggle': "popover",
                                                'data-placement': "bottom",
                                                'placeholder': 'Vaiko amžius',
                                                'class': 'age-input'
                                            }
                                        }
                                    )
                                }}
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="gender-input text-center">
                                <div class="icons-center">
                                    <div class="gender-icon"><b>&#9794;</b></div>
                                    {{ form_row(form.male, {'attr': {'class': 'gender-checkbox'}}) }}
                                    <div class="gender-icon"><b>&#9792;</b></div>
                                    {{ form_row(form.female, {'attr': {'class': 'gender-checkbox'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 submit-container">
                            <button type="submit" class="btn btn-default searchbar-submit"><span class="hidden-xs">Ieškoti</span><span class="hidden-sm hidden-md hidden-lg glyphicon glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                        {{ form_row(form.latitude, {'attr': {'class': 'hidden'}}) }}
                        {{ form_row(form.longitude, {'attr': {'class': 'hidden'}}) }}
                        {{ form_row(form.distance, {'attr': {'class': 'hidden distance-field'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="hidden" id="popover-content">
        <div class="button-table">
            <div class="button-row">
                {% for i in age_list[0] %}
                    <div class="button-container">{{ i }}</div>
                {% endfor %}
            </div>
            <div class="button-row">
                {% for i in age_list[1] %}
                    <div class="button-container">{{ i }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // Address input element
        var input = (document.getElementById('address'));
        var latitude = $('#latitude');
        var longitude = $('#longitude');
        var form = $('.index-form');
    </script>
    <script type="text/javascript" src="{{ asset('js/index-search.js') }}"></script>
    <script defer="defer" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDD-Qz3vsjQhtb903ppoMa79EI4Xc-AP8&libraries=places&callback=initAutocomplete"></script>
{% endblock %}

{% block footer %}
{% endblock %}