{% extends "::base.html.twig" %}

{% block title %} Gokid - {{ parent() }}{% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                $('.owl-carousel').owlCarousel({
                    nav: true,
                    navText: [
                        "<i class='fa fa-chevron-left fa-2x'></i>",
                        "<i class='fa fa-chevron-right fa-2x'></i>"
                    ],
                    autoplay: true,
                    autoplayTimeout: 2000,
                    loop: true,
                    margin: 3,
                    responsiveClass: true,
                    responsive:{
                        0:{
                            items:1,
                        },
                        600:{
                            items:2,
                        },
                        1000:{
                            items:3,
                        }
                    }
                });
            });
        </script>
    {% endblock %}

{% block body %}

    <div class="offerDetails">
    <div class="carouselContainer">
        <div class="owl-carousel owl-theme owl-controls">
            {% if offer.getImages.count > 0 %}
                {% for image in offer.getImages %}
                <div> <img src="{{ asset ('/images/offerImages/'~ image.getImageName)}}" class="img-responsive" alt="{{ offer.getName }}"> </div>
                {% endfor %}
            {% else %}
                <div> <img src="{{ asset ('/images/offerImages/'~ offer.getMainImage)}}" class="img-responsive" alt="{{ offer.getName }}"> </div>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-offset-1 col-md-6">
                    <div class="goToSearchContainer">
                        <a class="goToSearch" href="{{ path('app.search') }}"> Grįžti į paiešką </a>
                    </div>
                    <h2 class="name"> {{ offer.getName }} </h2>
                    <div class="ratingContainer">
                        <span class="offer-rating"> {{ offer.getRating|number_format(1, '.') }}</span>
                        <span> ({{ comments.count }})</span>
                    </div>
                    <div class="contactsContainer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <h4> {{ offer.getUser.getFirstName }} {{ offer.getUser.getLastName }} </h4>
                            </div>
                            <div class="col-xs-5 col-sm-3 col-md-3">
                                <h4> <span class="fa fa-phone" aria-hidden="true"></span> {{ offer.getUser.getPhone }} </h4>
                            </div>
                            <div class="col-xs-7 col-sm-5 col-md-5">
                                <h4> <span class="fa fa-paper-plane-o" aria-hidden="true"></span> {{ offer.getUser.getEmail }} </h4>
                            </div>
                         </div>
                    </div>
                    <div class="interactionContainer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h4> <a href="#reviewForm"> <span class="fa fa-commenting-o" aria-hidden="true"></span> Rašyti atsiliepimą </a> </h4>
                            </div>
                            {#<div class="col-xs-4 col-sm-4">
                                <h4> <a href=""> <span class="fa fa-bookmark-o" aria-hidden="true"></span> Mėgstamiausias </a> </h4>
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <h4> <a href=""> <span class="fa fa-share" aria-hidden="true"></span> Dalintis </a> </h4>
                            </div>#}
                        </div>
                    </div>
                    <div class="infoContainer">
                        <p> {{ offer.getDescription }} </p>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <div>
                                    <h5> Sporto rūšis: {{ offer.getActivity.getName }}. </h5>
                                </div>
                                <div>
                                    <h5> Adresas: {{ offer.getAddress }}. </h5>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <div>
                                    <h5> Vaikų amžius: {{ offer.getAgeFrom }} - {{ offer.getAgeTo }} m. </h5>
                                </div>
                                <div>
                                    <h5> Kaina: {{ offer.getPrice }} €. </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="mapContainer">
                            <div id="map" class="map">
                                <script>
                                    var markers = [];
                                    var map;
                                    function initMap() {
                                        map = new google.maps.Map(document.getElementById('map'), {
                                            zoom: 11,
                                            center: {lat: {{ offer.getLatitude }}, lng: {{ offer.getLongitude }}}
                                        });

                                        var green = 'http://maps.google.com/mapfiles/marker_green.png';

                                        var contentString = '<div id="content">'+
                                                '<div id="siteNotice">'+
                                                '</div>'+
                                                '<a href=""><h4 id="firstHeading" class="firstHeading">{{ offer.getName|raw }}</h4></a>'+
                                                '<div class="bodyContent">'+
                                                '<a href=""><img width="100%" src="{{ asset('/images/'~ offer.getMainImage )}}" /></a>'+
                                                '<p>{{ offer.getDescription|replace({"\n":' ', "\r":' '}) }}</p>'+
                                                '</div>'+
                                                '</div>';
                                        var infowindow = new google.maps.InfoWindow({ content: contentString });
                                        markers[{{ offer.getId }}] = new google.maps.Marker({
                                            position: {lat: {{ offer.getLatitude }}, lng: {{ offer.getLongitude }}},
                                            map: map,
                                            title: '{{ offer.getName }}',
                                            icon: green
                                        });
                                        markers[{{ offer.getId }}].addListener('click', function() {
                                            infowindow.open(map, markers[{{ offer.getId }}]);
                                            map.setCenter(marker.getPosition());
                                        });

                                    }
                                </script>
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB55WKt6k7UZLVfTeDFi1DV9EQjcsAmwKA&callback=initMap" async defer></script>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-offset-1 col-md-6">

                    <div class="reviewList">
                        <h4> Atsiliepimai ({{ comments.count }})</h4>
                        {% for comment in comments %}
                            <div class="review">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4">
                                        <div class="userIcon center">
                                        <span class="fa fa-user fa-4x" aria-hidden="true"></span>
                                        </div>
                                        <h5 class="center">{{ comment.getName }} </h5>
                                    </div>
                                    <div class="col-xs-8 col-sm-8">
                                        <h5> "{{ comment.getTitle }}" </h5>
                                        <span class="offer-rating">{{ comment.getRate|number_format(1, '.') }}</span>
                                        <span class="createdAt"> on {{ comment.getCreatedAt|date("F d, Y") }} </span>
                                        <h5>{{ comment.getBody }} </h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div id='reviewForm' class="reviewForm">
                        <h4> Įvertinkite ir parašykite atsiliepimą </h4>
                        {{ form_start(form) }}
                        {{ form_row(form.body, { 'attr': {'class': 'body-input'} }) }}
                        <label> Įvertinimas </label>
                        <div class="rating">
                            {% for radioRate in form.rate %}
                                <label for="{{ radioRate.vars.id }}">
                                    <span class="fa fa-futbol-o"></span>
                                </label>
                            {% endfor %}
                            {{ form_row(form.rate, { 'attr': {'class': 'rate-input'} }) }}
                        </div>
                        {{ form_row(form.title, { 'attr': {'class': 'title-input'} }) }}
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                {{ form_row(form.name, { 'attr': {'class': 'name-input'} }) }}
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                {{ form_row(form.email, { 'attr': {'class': 'email-input'} }) }}
                            </div>
                        </div>
                        {{ form_row(form.submit, { 'attr': {'class': 'button'} }) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="similarOffers">
                        <h4> Panašūs būreliai </h4>
                        <div class="offer-objects">
                            {% if (similarOffers|length > 0) %}
                                <div class="row">
                                    {% for offer in similarOffers %}
                                        <a href="{{ path('app.offerDetails', {'id': offer.getId}) }}">
                                            <div class="col-xs-12 col-sm-12 offer" data-id="{{ offer.getId }}">
                                                <div class="offer-inner">
                                                    <img src="{{ asset ('/images/' ~ offer.getMainImage)}}" class="img-responsive center-block" alt="{{ offer.getName }}" />
                                                    <div class="offer-content">
                                                        <h2>{{ offer.getName }}</h2>
                                                        <h5>{{ offer.getDescription|slice(0, 75) }}...</h5>
                                                        <span class="offer-rating">{{ offer.getRating|number_format(1, '.') }}</span>
                                                        <span class="offer-activity">{{ offer.getActivity.getName }}</span>
                                                        <span class="offer-price">
                                                            <span class="amount">{{ offer.getPrice }} €</span><span>{% if offer.paymentType == "0" %}Vienkartinis{% elseif offer.paymentType == "1" %}Kas <savaitę></savaitę>{% else %}Kas mėnesį{% endif %}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="not-found">Būrelių nerasta</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}
