{% extends "::base.html.twig" %}

{% block title %} Būrelio informacija - {{ parent() }}{% endblock %}

{% block body %}
    <div class="owl-carousel">
        {% if offer.getImages.count > 0 %}
            {% for image in offer.getImages %}
                <img src="{{ asset ('/images/offerImages/'~ image.getImageName)}}" class="img-responsive" alt="{{ offer.getName }}">
            {% endfor %}
        {% else %}
            <img src="{{ asset ('/images/offerImages/'~ offer.getMainImage)}}" class="img-responsive" alt="{{ offer.getName }}">
        {% endif %}
    </div>
{% endblock %}
