{% extends "::base.html.twig" %}

{% block title %} Būrelio informacija - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container-fluid">
         <div class="detailsContainer">
            <h1> {{ offer.getName }} </h1>
            <div class="row">
              <div class="col-sm-5">
                  <img src="{{ app.request.getSchemeAndHttpHost() }}/images/{{ offer.getImage }}" class="img-responsive" alt="{{ offer.getName }}">

              </div>
              <div class="col-sm-7">

                        <div>
                            <p> {{ offer.getDescription }} </p>
                        </div>
                        <div>
                            <p> Sporto rūšis: {{ offer.getActivity.getName }} </p>
                        </div>
                        <div>
                            <p> Treneris: {{ offer.getUser.getFirstName }} {{ offer.getUser.getLastName }} </p>
                            <p class="userInfo"> Telefonas: {{ offer.getUser.getPhone }} </p>
                            <p class="userInfo"> El. paštas: {{ offer.getUser.getEmail }} </p>
                        </div>
                        <div>
                            <p> Adresas: {{ offer.getAddress }}</p>
                        </div>
                        <div>
                            <p> Vaikų amžius: {{ offer.getAgeFrom }} - {{ offer.getAgeTo }} m. </p>
                        </div>
                        <div>
                            <p> Kaina: {{ offer.getPrice }} EUR </p>
                        </div>
                    </div>
              </div>
         </div>
    </div>
    <div class="similarOffers">
        <h3> Panašūs būreliai </h3>
        <div class="row">
            {% if similarOffers |length >= 1 %}
              <div class="col-sm-3">
                  <a href="{{ path('app.offerDetails', {'id': similarOffers[0].getId }) }}"> <img src="{{ app.request.getSchemeAndHttpHost() }}/images/{{ similarOffers[0].getImage }}" class="img-responsive" alt="{{ similarOffers[0].getName }}"> </a>
                  <h4>{{ similarOffers[0].getName }}</h4>
              </div>
            {% endif %}
            {% if similarOffers |length >= 2 %}
              <div class="col-sm-3">
                  <a href="{{ path('app.offerDetails', {'id': similarOffers[1].getId }) }}"> <img src="{{ app.request.getSchemeAndHttpHost() }}/images/{{ similarOffers[1].getImage }}" class="img-responsive" alt="{{ similarOffers[1].getName }}"> </a>
                  <h4>{{ similarOffers[1].getName }}</h4>
              </div>
            {% endif %}
            {% if similarOffers |length >= 3 %}
              <div class="col-sm-3">
                  <a href="{{ path('app.offerDetails', {'id': similarOffers[2].getId }) }}"> <img src="{{ app.request.getSchemeAndHttpHost() }}/images/{{ similarOffers[2].getImage }}" class="img-responsive" alt="{{ similarOffers[2].getName }}"> </a>
                  <h4>{{ similarOffers[2].getName }}</h4>
              </div>
            {% endif %}
            {% if similarOffers |length >= 4 %}
              <div class="col-sm-3">
                  <a href="{{ path('app.offerDetails', {'id': similarOffers[3].getId }) }}"><img src="{{ app.request.getSchemeAndHttpHost() }}/images/{{ similarOffers[3].getImage }}" class="img-responsive" alt="{{ similarOffers[3].getName }}"> </a>
                  <h4>{{ similarOffers[3].getName }}</h4>
              </div>
            {% endif %}
        </div>
    </div>
{% endblock %}