{% extends "::base.html.twig" %}

{% block title %} Būrelio informacija - {{ parent() }}{% endblock %}

{% block body %}
    <div class="owl-carousel">
        {% if offer.getImages.count > 0 %}
            {% for image in offer.getImages %}
                <img src="{{ asset ('/images/offerImages/'~ image.imageName)}}" class="img-responsive" alt="{{ offer.getName }}">
            {% endfor %}
        {% endif %}
        {% include '@App/Home/includes/offerImage.html.twig' with {'offer': offer} %}
    </div>

    <div class="top-section">
        <div class="container mobile-no-padding">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <a class="bc" href="{{ path('app.search') }}">Visi pasiūlymai</a> -> <a class="bc" href="{{ path('app.search', {'activity': offer.getActivity.getId, 'latitude': offer.getLatitude, 'longitude': offer.getLongitude, 'distance': 15}) }}">{{ offer.getActivity.getName }}</a>
                <h2>{{ offer.getName }}</h2>
                <h4><a class="address" href="{{ path('app.search', {
                        'address': offer.getAddress,
                        'latitude': offer.getLatitude,
                        'longitude': offer.getLongitude,
                        'distance': 15
                    }) }}">{{ offer.getAddress }}</a></h4>
                    <div class="info row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <span class="glyphicon glyphicon-star"></span> Įvertinimas: {% if offer.getRating == 0 %}Nėra{% else %}{{ offer.getRating|number_format(1, '.') }}{% endif %}
                        </div>
                        {% if not offer.imported %}
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <span class="glyphicon glyphicon-user"></span> {{ offer.getUser.name }}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <a class="phone" href="callto:{{ offer.getUser.getPhone }}">
                                    <span class="glyphicon glyphicon-earphone"></span> {{ offer.getUser.getPhone }}
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <a class="mail" href="mailto:{{ offer.getUser.getEmail }}">
                                    <span class="glyphicon glyphicon-envelope"></span> {{ offer.getUser.getEmail }}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <span class="glyphicon glyphicon-user"></span> {{ offer.contactInfo }}
                            </div>
                        {% endif %}
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <span class="glyphicon glyphicon-home"></span> {{ offer.getAddress }}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <span class="glyphicon glyphicon-resize-vertical"></span> Nuo {{ offer.getAgeFrom }} iki {{ offer.getAgeTo }} m
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="container mobile-no-padding">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="middle-block">
                {{ offer.getDescription }}
                <hr />
                <span class="offer-price">Kaina: € {{ offer.getPrice }} / {% if offer.paymentType == "0" %}vienkartinis mokestis{% elseif offer.paymentType == "1" %}kas savaitę{% else %}kas mėnesį{% endif %}</span>
            </div>
            <div class="review-block">
                <hr />
                <span class="reviews">Atsiliepimai ( {{ comments.count }} )</span>
                <hr />
                {% for comment in comments %}
                <div id="{{ comment.getId }}" class="review">
                    <div class="row">
                        <div class="user col-md-3">
                            {{ comment.getName }}
                        </div>
                        <div class="col-md-9">
                            <div class="topic">
                                {{ comment.getTitle }}
                            </div>
                            <div class="rating">
                                <div class="stars">
                                    {% for i in 1..5 %}
                                        <span {% if i == comment.getRate %}class="selected"{% endif %}></span>
                                    {% endfor %}
                                </div>
                                <span class="date">
                                    {{ comment.getCreatedAt|date("Y m d") }}
                                </span>
                            </div>
                            <div class="text">
                                {{ comment.getBody }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                {% endfor %}
            </div>
            <div class="middle-block bottom-block">
                {% form_theme form 'AppBundle:form:CommentFields.html.twig' %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="topic">
                    <span>Įvertinkite ir palikite atsiliepimą</span>
                </div>
                <hr />
                <span>Jūsų atsiliepimas:</span>
                {{ form_row(form.body, { 'attr': {'class': 'body-input', 'placeholder': 'Pasidalinkite patirtimi apie šį būrelį ar palikite naudingą patarimą'} }) }}
                {{ form_row(form.rate, { 'attr': {'class': 'rate-input hidden'} }) }}
                <span>Jūsų įvertinimas:</span>
                <div class="rating" id="rating">
                    <label id="rate-1" for="comment_rate_0" title="Blogas">
                        <span class="glyphicon glyphicon-star"></span>
                    </label>
                    <label id="rate-2" for="comment_rate_1" title="Prastas">
                        <span class="glyphicon glyphicon-star"></span>
                    </label>
                    <label id="rate-3" for="comment_rate_2" title="Geras">
                        <span class="glyphicon glyphicon-star"></span>
                    </label>
                    <label id="rate-4" for="comment_rate_3" title="Puikus">
                        <span class="glyphicon glyphicon-star"></span>
                    </label>
                    <label id="rate-5" class="selected" for="comment_rate_4" title="Išskirtinis">
                        <span class="glyphicon glyphicon-star"></span>
                    </label>
                    <div><div id="comment_rate" class="rate-input"><input type="radio" id="comment_rate_0" name="comment[rate]" required="required" value="1.0"><input type="radio" id="comment_rate_1" name="comment[rate]" required="required" value="2.0"><input type="radio" id="comment_rate_2" name="comment[rate]" required="required" value="3.0"><input type="radio" id="comment_rate_3" name="comment[rate]" required="required" value="4.0"><input type="radio" id="comment_rate_4" name="comment[rate]" required="required" value="5.0"></div></div>
                    <div id="post-rating" class="post-rating">
                        Išskirtinis
                    </div>
                </div>
                <span>Atsiliepimo tema:</span>
                {{ form_row(form.title, { 'attr': {'class': 'title-input', 'placeholder': 'Apibendrinkite savo nuomonę'} }) }}
                <div class="row">
                    <div class="col-md-6">
                        <span>Jūsų vardas:</span>
                        {{ form_row(form.name, { 'attr': {'class': 'name-input', 'placeholder': 'Vardenis Pavardenis'} }) }}
                    </div>
                    <div class="col-md-6">
                        <span>Jūsų el. paštas:</span>
                        {{ form_row(form.email, { 'attr': {'class': 'email-input', 'placeholder': 'jusu@el.pastas.lt'} }) }}
                    </div>
                </div>
                {{ form_row(form.submit, { 'label' : 'Siųsti atsiliepimą' }) }}
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="side-block map-block">
                <div id="map-details" class="map-details"></div>
            </div>
            {% if offer.getImages.count > 0 %}
                <div class="side-block">
                    <span class="topic">Nuotraukos</span>
                    <div class="row">
                        {% for image in offer.getImages %}
                            <div class="col-md-4">
                                <a class="fancy" rel="fancy" href="{{ asset ('/images/offerImages/'~ image.getImageName)}}">
                                    <img src="{{ asset ('/images/offerImages/'~ image.getImageName)}}" class="img-responsive" alt="{{ offer.getName }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="similar-offers side-block bottom-block">
                <span class="topic">Panašūs būreliai</span>
                {% if (similarOffers|length > 0) %}
                    {% for offer in similarOffers %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 offer" data-id="{{ offer.getId }}">
                                <div class="offer-inner">
                                    <a href="{{ path('app.offerDetails', {'id': offer.getId}) }}">
                                        {% include '@App/Home/includes/offerImage.html.twig' with {'offer': offer} %}
                                    </a>
                                    <div class="offer-content">
                                        <h2>
                                            <a href="{{ path('app.offerDetails', {'id': offer.getId}) }}">
                                                {{ offer.getName }}
                                            </a>
                                        </h2>
                                        <h5>{{ offer.getDescription|slice(0, 75) }}...</h5>
                                        <span class="offer-rating">5.0</span>
                                        <a href="{{ path('app.search', {
                                            'activity': offer.getActivity.getId,
                                            'distance': 15,
                                        }) }}">
                                            <span class="offer-activity">{{ offer.getActivity.getName }}</span>
                                        </a>
                                        <span class="offer-price">
                                            <span class="amount">{{ offer.getPrice }} €</span><span class="type">{% if offer.paymentType == "0" %}Vienkartinis{% elseif offer.paymentType == "1" %}Kas savaitę{% else %}Kas mėnesį{% endif %}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB55WKt6k7UZLVfTeDFi1DV9EQjcsAmwKA&libraries=places"></script>
    <script>
        $('.rating label').removeClass('selected');
        $('#rate-'+$('input[type=radio]:checked').val()).trigger('click');
        google.maps.event.addDomListener(window, 'load', detailsMap({{ offer.getLatitude }}, {{ offer.getLongitude }}));
    </script>
{% endblock %}
