{% extends "::base.html.twig" %}

{% block title %} Būrelio informacija - {{ parent() }}{% endblock %}

{% block body %}
    <div class="owl-carousel">
        {% if offer.getImages.count > 0 %}
            {% for image in offer.getImages %}
                <img src="{{ asset ('/images/offerImages/'~ image.getImageName)}}" class="img-responsive" alt="{{ offer.getName }}">
            {% endfor %}
        {% else %}
            <img src="{{ asset ('/images/offerImages/'~ offer.getMainImage)}}" class="img-responsive" alt="{{ offer.getName }}">
        {% endif %}
    </div>

    <div class="top-section">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <a class="bc" href="{{ path('app.search') }}">Visi pasiūlymai</a> -> <a class="bc" href="{{ path('app.search', {'activity': offer.getActivity.getId, 'latitude': offer.getLatitude, 'longitude': offer.getLongitude, 'distance': 15}) }}">{{ offer.getActivity.getName }}</a>
                <h2>{{ offer.getName }}</h2>
                <h4><a class="address" href="{{ path('app.search', {
                        'address': offer.getAddress,
                        'latitude': offer.getLatitude,
                        'longitude': offer.getLongitude,
                        'distance': 15
                    }) }}">{{ offer.getAddress }}</a></h4>
                <div class="info row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <span class="glyphicon glyphicon-star"></span> Įvertinimas: 4.7
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <span class="glyphicon glyphicon-user"></span> {{ offer.getUser.getFirstName }} {{ offer.getUser.getLastName }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <a class="phone" href="callto:{{ offer.getUser.getPhone }}">
                            <span class="glyphicon glyphicon-earphone"></span> {{ offer.getUser.getPhone }}
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <a class="mail" href="mailto:{{ offer.getUser.getEmail }}">
                            <span class="glyphicon glyphicon-envelope"></span> {{ offer.getUser.getEmail }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="middle-block">
                {{ offer.getDescription }}
            </div>
            <div class="review-block">
                <hr />
                <span class="reviews">Atsiliepimai ( 1 )</span>
                <hr />
                <div class="review">
                    <div class="row">
                        <div class="user col-md-3">
                            Vardenis Pavardenis
                        </div>
                        <div class="col-md-9">
                            <div class="topic">
                                Lorem ipsum - tai fiktyvus tekstas naudojamas spaudos
                            </div>
                            <div class="rating">
                                <div class="stars">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span class="selected"></span>
                                    <span></span>
                                </div>
                                <span class="date">
                                    2016 Gegužės 1d.
                                </span>
                            </div>
                            <div class="text">
                                Lorem ipsum - tai fiktyvus tekstas naudojamas spaudos ir grafinio dizaino pasaulyje jau nuo XVI a. pradžios. Lorem Ipsum tapo standartiniu fiktyviu tekstu, kai nežinomas spaustuvininkas atsitiktine tvarka išdėliojo raides atspaudų prese ir tokiu būdu sukūrė raidžių egzempliorių. Šis tekstas išliko beveik nepasikeitęs ne tik penkis amžius, bet ir įžengė i kopiuterinio grafinio dizaino laikus. Jis išpopuliarėjo XX a. šeštajame dešimtmetyje, kai buvo išleisti Letraset lapai su Lorem Ipsum ištraukomis, o vėliau -leidybinė sistema AldusPageMaker, kurioje buvo ir Lorem Ipsum versija.
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="middle-block bottom-block">
                <div class="topic">
                    <span>Įvertinkite ir palikite atsiliepimą</span>
                </div>
                <hr />
                <span>Jūsų atsiliepimas:</span>
                <textarea placeholder="Pasidalinkite patirtimi apie šį būrelį ar palikite naudingą patarimą"></textarea>
                <span>Jūsų įvertinimas:</span>
                <div class="rating" id="rating">
                    <label for="comment_rate_0" title="Blogas">
                        <span class="glyphicon glyphicon-star"></span>
                    </label>
                    <label for="comment_rate_1" title="Prastas">
                        <span class="glyphicon glyphicon-star"></span>
                    </label>
                    <label class="selected" for="comment_rate_2" title="Geras">
                        <span class="glyphicon glyphicon-star"></span>
                    </label>
                    <label for="comment_rate_3" title="Puikus">
                        <span class="glyphicon glyphicon-star"></span>
                    </label>
                    <label for="comment_rate_4" title="Išskirtinis">
                        <span class="glyphicon glyphicon-star"></span>
                    </label>
                    <div><div id="comment_rate" class="rate-input"><input type="radio" id="comment_rate_0" name="comment[rate]" required="required" value="1.0"><input type="radio" id="comment_rate_1" name="comment[rate]" required="required" value="2.0"><input type="radio" id="comment_rate_2" name="comment[rate]" required="required" value="3.0"><input type="radio" id="comment_rate_3" name="comment[rate]" required="required" value="4.0"><input type="radio" id="comment_rate_4" name="comment[rate]" required="required" value="5.0"></div></div>
                    <div id="post-rating" class="post-rating">
                        Išskirtinis
                    </div>
                </div>
                <span>Atsiliepimo tema:</span>
                <input type="text" placeholder="Apibendrinkite savo nuomonę" />
                <div class="row">
                    <div class="col-md-6">
                        <span>Jūsų vardas:</span>
                        <input type="text" placeholder="Vardenis Pavardenis" />
                    </div>
                    <div class="col-md-6">
                        <span>Jūsų el. paštas:</span>
                        <input type="text" placeholder="jusu@el.pastas.lt" />
                    </div>
                </div>
                <input type="submit" value="Siųsti atsiliepimą" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="side-block map-block">
                <div id="map-details" class="map-details"></div>
            </div>
            {% if offer.getImages.count > 0 %}
                <div class="side-block">
                    <span class="topic">Foto galerija</span>
                    <div class="row">
                        {% for image in offer.getImages %}
                            <div class="col-md-4">
                                <a href="{{ asset ('/images/offerImages/'~ image.getImageName)}}">
                                    <img src="{{ asset ('/images/offerImages/'~ image.getImageName)}}" class="img-responsive" alt="{{ offer.getName }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB55WKt6k7UZLVfTeDFi1DV9EQjcsAmwKA&libraries=places"></script>
    <script>
        google.maps.event.addDomListener(window, 'load', detailsMap({{ offer.getLatitude }}, {{ offer.getLongitude }}));
    </script>
{% endblock %}
