{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        {% include '@App/Home/includes/flashBag.html.twig' %}
        <div class="row">
            <div class="col-sm-4">
                {% include '@App/Home/includes/accountLeftMenu.html.twig' %}
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Jūsų įkelti būreliai
                    </div>
                    <ul class="list-group">
                        {% for offer in offers  %}
                            <form class="list-group-item" id="delete_{{ offer.id }}" method="post" action="{{ path('app.offerDelete', {'id': offer.id}) }}">
                                {{ offer.name }}
                                <a class="badge warning" onclick="document.getElementById('delete_{{ offer.id }}').submit(); return false;">Ištrinti</a>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('offer_delete') }}"/>
                            </form>
                        {% endfor %}
                        <div class="navigation">
                            {{ knp_pagination_render(offers) }}
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
