{% extends "::base.html.twig" %}

{% block body %}
    <div class="offers-filter">
        <div class="container">
            <div class="col-sm-12">
                {% form_theme form '@App/form/IndexSearchFields.html.twig' %}
                {{ form_start(form,  {'attr': {'action': path('app.search'),'novalidate': 'novalidate', 'class': 'form-horizontal index-form'}}) }}
                <div class="form-group gutter-remove">
                    <div class="top-container">
                        <div class="col-sm-3">
                            {% if 'Chrome' in app.request.server.get('HTTP_USER_AGENT') %}
                                <div class="locate-me hidden">
                            {% else %}
                                <div class="locate-me">
                            {% endif %}
                                <span class="glyphicon glyphicon-globe" id="locate-me"></span>
                            </div>
                            <div class="loader-div hidden">
                                <img class="loader smaller" src="{{ asset('images/loading-spinner.gif') }}"/>
                            </div>
                            {{  form_row(form.address, {'attr': {'class': 'place-input address-input', 'placeholder': 'Gyvenamoji vieta'}}) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_row(form.age, {'attr': {'min': 0, 'class': 'age-input', 'data-toggle': "popover", 'placeholder': 'Amžius'}}) }}
                        </div>
                        <div class="col-sm-2">
                            <select name="activity" id="activity" class="activities-select">
                                <option value="" {% if offers.getParams['activity'] is not defined %}selected{% endif %}>-- Visos kategorijos --</option>
                                {% for key, activity in activities %}
                                    <option value="{{ activity.getId }}" {% if offers.getParams['activity'] is defined and activity.getId == offers.getParams['activity'] %}selected{% endif %}>{{ activity }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <div class="gender-input">
                                <button type="button" for="male" class="btn btn-default btn-sm {% if offers.getParams.male is defined %}active{% endif %}">
                                    <span class="icon icon-male"></span>
                                </button>
                                <button type="button" for="female" class="btn btn-default btn-sm female {% if offers.getParams.female is defined %}active{% endif %}">
                                    <span class="icon icon-female"></span>
                                </button>
                                {{ form_row(form.male, {'attr': {'class': 'gender-checkbox hidden'}}) }}
                                {{ form_row(form.female, {'attr': {'class': 'gender-checkbox hidden'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 submit-container">
                        <button type="submit" class="btn btn-default searchbar-submit"><span class="hidden-xs">Ieškoti</span><span class="hidden-sm hidden-md hidden-lg glyphicon glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                    <div class="col-sm-2 counter">
                        Rasta būrelių:
                        <div class="stats">
                            <span id="counter">0</span> iš <span>{{ offers_all }}</span>
                        </div>
                    </div>
                    {{ form_row(form.latitude, {'attr': {'class': 'hidden'}}) }}
                    {{ form_row(form.longitude, {'attr': {'class': 'hidden'}}) }}
                    {{ form_row(form.distance, {'attr': {'class': 'hidden distance-field', 'id': 'distance'}}) }}
                    {{ form_row(form.priceFrom, {'attr': {'class': 'hidden', 'id': 'priceFrom', 'value': ((offers.getParams.priceFrom is defined) ? offers.getParams.priceFrom : 1) }}) }}
                    {{ form_row(form.priceTo, {'attr': {'class': 'hidden', 'id': 'priceTo', 'value': ((offers.getParams.priceTo is defined) ? offers.getParams.priceTo : 50) }}) }}
                </div>
                {{ form_end(form) }}
            </div>
            <div class="hidden" id="popover-content">
                <div class="button-table">
                    <div class="button-row">
                        {% for i in 1..9 %}
                            <div class="button-container">{{ i }}</div>
                        {% endfor %}
                    </div>
                    <div class="button-row">
                        {% for i in 10..18 %}
                            <div class="button-container">{{ i }}{% if i == 18 %}+{% endif %}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container offers">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="offers-range">
                    <span class="col-md-4 col-sm-4">Atstumas&nbsp;(<span id="dist">10</span>&nbsp;km): </span>
                    <div class="col-md-8 col-sm-8 offers-slider" id="slider-range"></div>
                </div>
                <div class="offers-price">
                    <span class="col-md-4 col-sm-4">Kaina (<span id="price">10</span>&nbsp;): </span>
                    <div class="col-md-8 col-sm-8 offers-slider" id="slider-price"></div>
                </div>
                <div class="clearfix"></div>

                <div class="offer-objects">
                    {% include '@App/Home/includes/offerObjects.html.twig' %}
                </div>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs">
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var input = (document.getElementById('address'));
        var latitude = document.getElementById('latitude');
        var longitude = document.getElementById('longitude');
        var form = document.getElementsByClassName('index-form')[0];
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB55WKt6k7UZLVfTeDFi1DV9EQjcsAmwKA&libraries=places"></script>
    {{ parent() }}
    <script type="text/javascript">
        // Address input element
        var rootUrl = "{{ asset('') }}";
        var offers = {{ offers_json|raw }};
        var offers_found = {{ offers_found }};
        var searchPage = true;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: {lat: 54.8931048, lng: 23.8666335},
                scrollwheel: false,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.LEFT_TOP
                }
            });

            {% if (offers|length > 0) %}
                setMarkers();
                setMapParameters();
            {% endif %}

            setCounter();
            initAutocomplete();
        }

        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
{% endblock %}