{% form_theme form '@App/form/OfferRegistrationFields.html.twig' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'novalidate': 'novalidate', 'class': 'fos_user_registration_register'}}) }}
    <legend>
        Registracija
    </legend>
    <div class="form-group">
        {{ form_row(form.email) }}
    </div>
    <div class="form-group">
        {{ form_row(form.firstName) }}
    </div>
    <div class="form-group">
        {{ form_row(form.lastName) }}
    </div>
    <div class="form-group">
        {{ form_row(form.phone) }}
    </div>
    {% for passwordField in form.plainPassword %}
        <div class="form-group">
            {{ form_label(passwordField, null, { 'attr': {'class': 'form-label'} }) }}
            {{ form_widget(passwordField, { 'attr': {'class': 'form-input'} }) }}
            {{ form_errors(passwordField) }}
        </div>
    {% endfor %}
<div>
    <input type="submit" value="Registruotis" class="submit"/>
</div>
{{ form_end(form) }}
{{ dump(form) }}