<nav class="navbar navbar-default {% if app.request.attributes.get('_route') == 'app.index' %}transparent{% endif %}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Atverti navigaciją</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if app.request.attributes.get('_route') == 'app.index' %}
                <span class="navbar-brand"><img src="{{ asset('images/soccerball-white.png') }}" width="100" height="30"/></span>
            {% else %}
                <a class="navbar-brand" href="{{ path('app.index') }}"><img src="{{ asset('images/soccerball.png') }}" width="100" height="30"/></a>
            {% endif %}
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li class="add-offer {% if app.request.attributes.get('_route') == 'app.coaches' %}active{% endif %}"><a href="{{ path('app.coaches') }}">Įkelti būrelį</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'fos_user_profile_edit' or app.request.attributes.get('_route') == 'app.registeredOffers' %}active{% endif %}"><a href="{{ path('fos_user_profile_edit') }}">Jūsų paskyra</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Atsijungti</a></li>
                {% else %}
                    {% if app.request.attributes.get('_route') != 'app.index' %}
                    <li class="{% if app.request.attributes.get('_route') == 'fos_user_security_login' %}active{% endif %}"><a href="{{ path('fos_user_security_login') }}">Prisijungti</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>